

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='Robot logo - thick.svg') }}"
    />
 
       <!-- Bootstrap CSS-->
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

       <!-- Our CSS-->
       <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
  </head>
 
  <body>
    <header id="header">
        {%include 'navbar.html' %}
    </header>
    <br/>
    <br/>
    <br/>
        {% block content %}
        {%   endblock %}
        <br>
        <br>
        <div class= "center">
        <p>William VanBuskirk
          <br>
        <a href="https://www.linkedin.com/in/wvanbuskirk/">LinkedIn</a></p>
        </div>
    </body>

</html>
