<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">Sandwich Namer!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('book_prompts') }}">Book Picker!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('image_maker') }}" >Image Maker!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('qna_maker') }}" >Question Responder!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://openai.com/" target="_blank" rel="noopener noreferrer">OpenAI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/van-william/prompt-web-app" target="_blank" rel="noopener noreferrer">GitHub Repo</a>
          </li>
            </ul>
        </ul>
        </form>
      </div>
    </div>
  </nav>